* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  }

.navbar{
  background: hsl(0, 10%, 6%) ;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999; /* Always on top of everything (3D perspective)*/
}

    .navbar__container{
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width:100%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 50px;
      }
      
.navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
}
      
.navbar__menu {
  display:flex;
  align-items: center;
  list-style: none;
}
.navbar__item {
  height: 80px;
  width: fit-content;
}
      

.navbar__links{
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width:max-content;
  padding: 20px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar-btn{
  cursor: pointer;
  background-color:hsl(0, 10%, 6%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width:max-content;
  padding: 20px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  border: none;
  font-size: 20px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn__grad {
  cursor: pointer;
 background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
 margin: 10px;
 padding: 10px 45px;
 border: none;
 text-align: center;
 text-transform: uppercase;
 font-size: 1.2rem;
 font-weight:300;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;            
 border-radius: 10px;
 display: block;
 text-decoration: none;
}

.btn__grad:hover {
 background-position: right center; /* change the direction of the change here */
 color: #fff;
 text-decoration: none;
}


/* Game Config PopUp*/

.gameconf-popup{
  align-items: center;
  justify-content: center;
  position: fixed;
  display:none;

  transform: translate(-50%,-50%) scale(1);
  z-index: 10; /*Drawn above*/
  width: 500px;
  top: 50%;
  left: 50%;
  max-width: 80%;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 20px;   
  transition: 200ms ease-in-out;

  box-shadow: 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

}

.bottom-border{
  border: 0;
  height: 5px;
  width: 100%;
  background-image: -webkit-linear-gradient(right, #ff6e7f 0%, #bfe9ff 50%, #ff6e7f 100%);
}

.gameconf-popup.active{
  transform: translate(-50%,-50%) scale(1);
}

.conf-header{
  padding: 10px 15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-color: linear-gradient(to right,red, purple);

}

.conf-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.conf-header .close-btn{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.conf-body{
  padding: 10px 15px;
  
}
.set-item{
  padding: 10px 15px;
  list-style-type: none;
  text-align: left;
  text-decoration: none;
}

/*Rules Popup*/

.rules-popup{
  position: fixed;
  display:none;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%) scale(1);
  z-index: 10; /*Drawn above*/
  background-color: white;
  width: 520px;
  max-width:80% ;
  transition: 200ms ease-in-out;  

    
  background: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 20px;   

  box-shadow: 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.rules-header{
  padding: 10px 15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.rules-header .close-btn{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.rules-body{
  padding: 10px 15px;
}

.rules-text{
  padding: 10px 15px;
  text-decoration: none;
  text-align:left;
}


/*LOGIN*/

.login-wrap{
  align-items: center;
  justify-content: center;
  
  width: 390px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 20px;   

  box-shadow: 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

  transform: scale(0.8) translate(50%, 50%);
}

.login-container{
  display: grid;
  align-items:center;
  justify-content: center;
}

.login-title {
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
}


.wrap-input{
  position: center;
  border-bottom: 2px solid #adadad;
  margin-bottom: 15px;
}

.input{
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: flex;
  width: 100%;
  height: 30px;
  background: transparent;
  padding: 5px 5px;
  
}

.login-btn-container{
  display: grid;
  align-items: center;
}


.no-acc-txt {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.sign-up-txt {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*Score Board*/

.score-popup{
  position: fixed;
  display:none;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%) scale(1);
  z-index: 10; /*Drawn above*/
  background-color: white;
  width: 520px;
  max-width:80% ;
  transition: 200ms ease-in-out;  

  background: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 20px;   

  box-shadow: 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.score-header{
  padding: 10px 15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.score-header .close-btn{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.score-table, th, td {
  width: 100%;
  align-items:center;
}