* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  }


table{
  position: fixed;
  display:block;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 3px solid salmon;
  border-radius: 10px;
  z-index: 10; /*Drawn above*/
  background-color: white;
  max-width:80% ;
  transition: 200ms ease-in-out;
}

.navbar{
  background: hsl(0, 10%, 6%) ;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999; /* Always on top of everything (3D perspective)*/
}

.line { margin-right: 0px !important; }
    .navbar__container{
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width:100%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 50px;
      }
      
.navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
}
      
.navbar__menu {
  display:flex;
  align-items: center;
  list-style: none;
}
.navbar__item {
  height: 80px;
  width: fit-content;
}
      

.navbar__links{
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width:max-content;
  padding: 20px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar-btn{
  cursor: pointer;
  background-color:hsl(0, 10%, 6%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width:max-content;
  padding: 20px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  border: none;
  font-size: 20px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn__grad {
  cursor: pointer;
 background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
 margin: 10px;
 padding: 10px 45px;
 border: none;
 text-align: center;
 text-transform: uppercase;
 font-size: 1.2rem;
 font-weight:300;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;            
 border-radius: 10px;
 display: block;
 text-decoration: none;
}

.btn__grad:hover {
 background-position: right center; /* change the direction of the change here */
 color: #fff;
 text-decoration: none;
}

.body-container{
  align-items:unset;
  align-self: center;
  padding: 5px 5px;

}

.right-side-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: solid 2px ;
  width: 75%;
  margin-left: 25%;
  min-height: 500px;
  display: flex;
}
.left-side-container{    
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 2px ;
  width: 25%;
  position: absolute;
  display: flex;
  min-height: 500px;
  
  
}

/*BOARD*/

.board {
  /*position:relative;
  display:none;
  left: 30%;
  top: 100%;

  transform: scale(1);*/
  
  position: relative;
  z-index: 10; /*Drawn above*/
  border-style: solid;
	display: flex;

	width: 800px;
	height: 260px;
	max-width: 100%;
	overflow-x: auto;
  background-color: salmon;

  border-style: solid;
  border-width: 1px;

  border-radius: 10px;

  transform: scale(1.3);
}

.rows {
	flex: 7;
	display: flex;
	flex-direction: column;
}

.row{
	flex: 1;
	display: flex;
}

.store, .cell {

  flex: 1;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(116, 16, 91, 0.192);
	box-shadow: inset 0 0 2px rgba(0,0,0,.5);
  border-style: solid;
  border-width: 1px;
	cursor: default;
  border-radius: 10%;
}


 /*LOGIN*/
  
 .login-wrap{
  display: block;
  width: 390px;
  height: 270px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;  

  box-shadow: 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

  transform: scale(0.8);
}

.login-container{

  display: grid;
  align-items:center;
  justify-content: center;
}

.login-title {
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
}


.wrap-input{
  position: center;
  border-bottom: 2px solid #adadad;
  margin-bottom: 15px;
}

.input{
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: flex;
  width: 100%;
  height: 30px;
  background: transparent;
  padding: 5px 5px;
  
}

.login-btn-container{
  display: grid;
  align-items: center;
}


.no-acc-txt {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.sign-up-txt {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}
